<div class="row mb-3">
  <div class="col-3 text-center">
    <button *ngIf="authService.hasRole(['ADMIN'])" #btnAdd (click)="add()" class="btn w-100 color-button-add" data-toggle="modal" data-target="#modal" data-whatever="@mdo">Agregar</button>
  </div>
  <div class="col-2 text-center">
  </div>
  <div class="col-7 text-center">
    <button #btnVerTodos (click) ="loadTable(null)" class="btn btn-warning mr-2 color-button-actions">Ver Todos</button>
    <button #btnAlta (click) ="loadTable('altas')" class="btn btn-success mr-2 color-button-actions">Ver Altas</button>
    <button #btnBaja (click) ="loadTable('bajas')" class="btn btn-danger mr-2 color-button-actions " >Ver Bajas</button>
    <button #btnbajaDefintiva (click) ="loadTable('bajasDefinitivas')" class="btn btn-danger  color-button-actions" >Ver Bajas Definitivas</button>
  </div>
  
</div>
<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover table table-striped ancho" ></table>

<div class="row mb-3">
  <div class="col-3 text-center">
    <button #btnBaja (click) ="downoloadZip()" class="btn  mr-5 btn btn-outline-secondary w-100" >Descargar pdfs</button>
  </div>
</div>
<div class="modal fade" id="modal" #modal tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-indigo text-white text-center">
        <h5 class="modal-title " id="exampleModalLabel">Agregar nuevo empleado</h5>
        <button  type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="form">
            <div class="input-group">
                <div class="input-group-prepend">
                <span class="input-group-text">Numero de empleado:</span>
                </div>
                <input min = "0" max = "99999" formControlName="numeroEmpleado" type="number" aria-label="First name" class="form-control">
              </div>
              <div  *ngIf="form.controls['numeroEmpleado'].hasError('required')" class="text-danger mt-1">* Número de empleado obligatorio</div>
              <div  *ngIf="form.controls['numeroEmpleado'].hasError('min')" class="text-danger mt-1">* El número de empleado no puede ser menor</div>
              <div  *ngIf="form.controls['numeroEmpleado'].hasError('max')" class="text-danger mt-1">* El número de empleado no puede ser mayor que 99999</div>
              <div class="input-group mt-2">
                <div class="input-group-prepend">
                  <span class="input-group-text">Apellido Paterno:</span>
                </div>
                <input formControlName="apellidoP" type="text" aria-label="First name" class="form-control">
              </div>
              <div  *ngIf="form.controls['apellidoP'].hasError('required')" class="text-danger mt-1">* Apellido paterno obligatorio</div>
              <div  *ngIf="form.controls['apellidoP'].hasError('minlength')" class="text-danger mt-1">* El apellido paterno debe tener al menos 3 caracteres</div>
              <div  *ngIf="form.controls['apellidoP'].hasError('maxlength')" class="text-danger mt-1">* El apellido paterno no debe tener un máximo de 30 caracteres</div>
              <div  *ngIf="form.controls['apellidoP'].hasError('pattern')" class="text-danger mt-1">* Solo debe de contener letras</div>
              <div class="input-group mt-2">
                <div class="input-group-prepend">
                  <span class="input-group-text">Apellido Materno:</span>
                </div>
                <input formControlName="apellidoM" type="text" aria-label="First name" class="form-control">
              </div>
              <div  *ngIf="form.controls['apellidoM'].hasError('required')" class="text-danger mt-1">* Apellido materno obligatorio</div>
              <div  *ngIf="form.controls['apellidoM'].hasError('minlength')" class="text-danger mt-1">* El apellido materno debe tener al menos 3 caracteres</div>
              <div  *ngIf="form.controls['apellidoM'].hasError('maxlength')" class="text-danger mt-1">* El apellido materno no debe tener un máximo de 30 caracteres</div>
              <div  *ngIf="form.controls['apellidoM'].hasError('pattern')" class="text-danger mt-1">* Solo debe de contener letras</div>
              <div class="input-group mt-2">
                <div class="input-group-prepend">
                  <span class="input-group-text">Nombres:</span>
                </div>
                <input formControlName="nombres" type="text" aria-label="First name" class="form-control">
              </div>
              <div  *ngIf="form.controls['nombres'].hasError('required')" class="text-danger mt-1">* Nombres obligatorios</div>
              <div  *ngIf="form.controls['nombres'].hasError('minlength')" class="text-danger mt-1">* El nombre debe tener al menos 3 caracteres</div>
              <div  *ngIf="form.controls['nombres'].hasError('maxlength')" class="text-danger mt-1">* El nombre no debe tener un máximo de 30 caracteres</div>
              <div  *ngIf="form.controls['nombres'].hasError('pattern')" class="text-danger mt-1">* Solo debe de contener letras</div>
              <div class="input-group mt-2">
                <div class="input-group-prepend">
                  <span class="input-group-text">Correo Electronico:</span>
                </div>
                <input formControlName="correo" type="text" aria-label="First name" class="form-control">
              </div>
              <div  *ngIf="form.controls['correo'].hasError('required')" class="text-danger mt-1">* Correo electrónico obligatorio</div>
              <div  *ngIf="form.controls['correo'].hasError('pattern')" class="text-danger mt-1">* Por favor ingrese un email valido. <i>(example@correo.com)</i></div>
              <div class="input-group mt-2">
                <div class="input-group-prepend">
                  <span class="input-group-text">Fecha de Ingreso:</span>
                </div>
                <input max="{{today | date:'yyyy-MM-dd'}}" formControlName="fechaIngreso" type="date" aria-label="First name" class="form-control">
              </div>
              <div  *ngIf="form.controls['fechaIngreso'].hasError('required')" class="text-danger mt-1">* Fecha de ingreso obligatorio</div>
              <div *ngIf="form.controls['id'].value" class="input-group mt-2 ">
                <div class="input-group-prepend">
                  <span class="input-group-text">Fecha de Baja:</span>
                </div>
                <input  formControlName="fechaBaja" type="date" aria-label="First name" class="form-control">
              </div>
              <div class="row mt-5 " *ngIf="nombreArchivo" >
                {{nombreArchivo}}
              </div>
              <div class="custom-file mt-5">
                <input #idFile accept="application/pdf" (change)="changeFile($event)" type="file" id="customFileLang" lang="es">
              </div>
              <div  *ngIf="(nombreArchivo ? false : !file)" class="text-danger mt-1">* Archivo Obligatorio</div>
        </form>
          <hr>
          <div class="row">
            <div class="col-4"> <button *ngIf="nombreArchivo" type="button" (click)="bajaDefinitiva()"  class="btn btn-secondary " data-dismiss="modal">Baja Definitiva</button></div>
            <div class="col-1"></div>
            <div class="col-7 text-center"><button #btnClose type="button" class="btn mr-1 color-button-danger" data-dismiss="modal">Cerrar</button>
              <button [disabled]="!form.valid || (nombreArchivo ? false : !file)"  (click)="save(modal)" type="button" class="btn color-button-add">Guardar</button></div>
          </div>
      </div>
      
    </div>
  </div>
</div>
