
<nav *ngIf="authService.isAuthenticated()" class="navbar navbar-expand-lg navbar-dark bg-indigo">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <div class="">
                <div ngClass="tituloLog" class="card-heading text-primary"><img src="gdcit/assets/logoGDC.png "routerLink="/home" style="
                    width: 4em;
                    height: 4em;
                "  class="rounded mx-auto d-block logoGDC"></div>
                
            </div>
            <li class="nav-item" routerLinkActive="active">
                <a *ngIf="authService.hasRole(['ADMIN', 'USER'])" class="nav-link" aria-current="page" routerLink="/employee" style="
                padding-left: 3em;
                padding-top: 1em;
                font-size: 1.2em;
            " title="EMPLEADOS"><span class="material-icons mr-1 md-24">supervised_user_circle</span>Empleados</a>
            </li>
            <a ngClass="GDCtitulo" class="navbar-brand text-center ml-5 " style="
            padding-left: 12em;
        " routerLink="/home" >GDC Control De Empleados</a>

        </ul>
        <ul style="list-style-type:none;" class="navbar-navnavbar-right text-center">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="bi bi-person-square text-center mt-2 mr-2" style="font-size: 30px;"></i> <label class="autor text-white">{{ authService.user.usuario}} </label>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a (click)="logout()" class="dropdown-item text-dark" href="#">
                        <i class="bi bi-box-arrow-left"></i> Cerrar Sesión
                    </a>
                </div>
            </li>
        </ul>
    </div>
</nav>
<div class="container my-3 wrap">
    <router-outlet></router-outlet>
</div>
<footer *ngIf="authService.isAuthenticated()" class="footer rounded-bottom bg-indigo text-center">
    <div class="container py-2">
        <p class="abajo">
        </p>
    </div>
</footer>


