.footer {
    position: fixed;
    bottom: 0px;
    height: 60px;
    width: 100%;
}
.autor {
    color: black;
}
.abajo {
    color: red;
}
.GDCtitulo  {
    
    color: white;
    text-align: center;
    text-size-adjust: 200px;
}
