html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.wrap {
    padding-bottom: 60px;

}


html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.bg-indigo {
    background: #008080 !important;
}
.footer {
    color: red !important;

}

.text-indigo {
    color: #8FBFE0;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.color-button-actions {
    background:#7C77B7 !important;
    color:white !important;
}
.color-button-add {
    background:#008080 !important;
    color:white !important;
}
.color-button-danger {
    background:#E93B3B !important;
    color:white !important;
}